# **Basic Programming in Python**

## Summer Semester 2023

### Tutorial - 30.05.2023

### **More on Data Structures in Python**

**1. Tuples**

Tuples are **ordered** collections to store different types of elements such as numbers and integers.

Tuples are **unchangeable** which means their values cannot be changed and thus, they are especially useful when you want to store data that should not be modofied.

Tuples are created by using round brackets `()` and they allow duplicates.

In [ ]:
my_cool_tuple = ("Apple", 25, 3.14)

print(type(my_cool_tuple))

You can access elements in a tuple by indexing.

In [ ]:
print(my_cool_tuple[2])

Can you count how many times the number **2** occurs in the following tuple?

In [ ]:
numbers = (1, 2, 3, 2, 4, 2, 5, 2, 2, 9)
print(numbers.count(2))

Let's create a tuple called "my_tuple" with duplicate elements (1, 2, 2, 3, 4, 4, 4, 5) and then remove all duplicates and print the resulting tuple.

In [ ]:
my_tuple = (1, 2, 2, 3, 4, 4, 4, 5) 
unique_tuple = tuple(set(my_tuple))
print(unique_tuple)

We can perform operations on tuples such as concatenation and repetition.

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Tuple Concatenation
concatenated_tuple = tuple1 + tuple2
print(concatenated_tuple)  

# Tuple Repetition
repeated_tuple = tuple1 * 3
print(repeated_tuple)

If tuples are unchangeable, is there a way to change their values somehow?

- First, convert the tuple to a list.
- Then, use indexing to adjust values.
- Finally, convert it back to the tuple.

In [ ]:
fruits = ("apple", "banana", "cherry", "durian")

# Convert the tuple to a list to allow modification
fruit_list = list(fruits)
fruit_list[index] = "new name" 

# Convert the list back to a tuple
fruits = tuple(fruit_list)

print("Updated fruits:", fruits)

**2. Sets**

Sets are **unordered** collections of **unique** elements. They can also store different types of data like tuples.

Contrary to tuples, sets do not allow for duplicate values and they are **changeable**.

Sets are created by using curly braces `{}`.

In [ ]:
my_cool_set = {"Cherry", 1, 2, 3, 25.5}
print(type(my_cool_set))

In [ ]:
set_1 = {"Apple", "Banana", "Cherry", "Apple"}

print(set_1) # Duplicate values are ignored.

Once a set is created, you cannot change its items, but you can add new items.

To add one item to a set use the `add() `method.

In [ ]:
my_set = set()
for _ in range(5):
    item = input("Enter an item: ")
    my_set.add(item)
  
  # Print the final set
print("Final Set:", my_set)

In this task, the program creates an empty set `my_set`. It prompts the user to enter five items and adds each item to the set using the `add() `method. Finally, it prints the final set after adding all the items. This task demonstrates how to add items to a set using the `add()` method, allowing you to dynamically update the set with new elements.

We can remove elements from a set using the `remove()` or `discard()` methods.

In [ ]:
fruits = {"Apple", "Banana", "Orange","Kiwi","Grapes"}
fruits.remove("Banana") # Raises a KeyError in case the item is not present in the given set
print(fruits)  

fruits.discard("Kiwi")  # Raises no errors in case the item is not present in the given set
print(fruits)

Sets support mathematical set operations like union, intersection, and difference.

Given the `utensils` and `dishes` sets below, create a new set named `dinner_table` that containts both sets.

In [ ]:
utensils = {"Fork", "Spoon", "Knife"}
dishes = {"Bowl", "Plate", "Cup", "Knife"}

dinner_table = utensils.union(dishes)
print(dinner_table)

Now print the different and common elements of `utensils `and `dishes` sets.

In [ ]:
print(utensils.difference(dishes))

print(utensils.intersection(dishes))

**3. Dictionaries**

Dictionaries are **key-value** pairs enclosed in curly braces `{}` to store data.

Each key-value pair in a dictionary is separated by a colon `:`.

It is possible to access the values in a dictionary by using the specified key.

They are **changeable**, so you can add, modify and remove key-value pairs.

**Duplicates are not allowed** -- Dictionaries cannot have two items with the same key.

**Creating an Empty Dictionary**

In [ ]:
empty_dict1 = {}
print(empty_dict1)  # Output: {}

empty_dict2 = dict()
print(empty_dict2)  # Output: {}

Create a dictionary with initial values by enclosing the key-value pairs in curly braces `{}`. Separate each key-value pair with a colon `:` and separate multiple pairs with commas.

In [ ]:
capitals = {"USA": "Washington DC",
            "China": "beijing",
            "India": "New Delhi"}

print(type(capitals))

Can you update the given dictionary by adding **Germany** as a key and **Berlin** as a value?

In [ ]:
capitals.update({"Germany": "Berlin"})
print(capitals)

**You can modify the existing values in the dictionary by using keys as follows:**

- Change the value of **25** into **30** by accessing its key `age`:

In [ ]:
my_dict = {"Name": "John", "Age": 25, "City": "New York"}
my_dict["Age"] = 30
print(my_dict["Age"])

- Now try to change the value of **USA** into **Las Vegas** by using `update` method:

In [ ]:
capitals.update({"USA": "Las Vegas"})
print(capitals)

Remove **India** from the dictionary:

In [ ]:
capitals.pop("India")
print(capitals)

Removing key-value pairs with `del`:

In [ ]:
del capitals["Germany"]
print(capitals)

Adding new key-value pairs:

In [ ]:
capitals["Iran"] = "Tahran"
print(capitals)

Iterating through a dictionary with a for loop:

**Note:** Check how to print key-value pairs by using a for loop.

In [ ]:
my_dict = {"Name": "John", "Age": 25, "City": "New York"}

for key in my_dict:
    print(key, ": ", my_dict[key])

## **Important Note**

## You are required to search more about the topic and their relevant methods since they will be included in the assignments. :)

### **Recall on functions and classes**

**1.** Create a function to return `True` if the first and last number of a given list is the same. If numbers are different then return `False`.

In [ ]:
def check_nums(numlist):
  print(f"The given list ist {numlist},")

  first_num = numlist[0]
  last_num = numlist[-1]

  if first_num == last_num:
    return True
  else:
    return False

numbers_1 = [10, 20, 30, 40, 10]
print("The result is", check_nums(numbers_1))

numbers_2 = [75, 65, 35, 75, 30]
print("The result is", check_nums(numbers_2))

**2.** Create a class called `Playlist`. The class should have attributes for the **playlist name** and **a list of songs**. 

Implement methods to **add a song**, **remove a song**, **shuffle the playlist**, and **play the playlist** at the end (display all songs in order).

In [ ]:
import random

class Playlist:
    def __init__(self, name):
        self.name = name
        self.songs = []

    def add_song(self, song):
        self.songs.append(song)

    def remove_song(self, song):
        if song in self.songs:
            self.songs.remove(song)

    def shuffle(self):
        random.shuffle(self.songs)

    def play(self):
        print("Playlist:", self.name)
        for song in self.songs:
            print(song)

my_playlist = Playlist("My Favorite Songs")
my_playlist.add_song("Song 1")
my_playlist.add_song("Song 2")
my_playlist.add_song("Song 3")
my_playlist.shuffle()
my_playlist.play()

**3.** A leap year is a year that contains February 29th. There are certain conditions to check whether a year is a leap year or not:

- A year that is divisible by 4 is a leap year (e.g., 2020).
- A year that is divisible by 100 is not a leap year unless it is also divisible by 400 (e.g., 2000).

Create a class called `LeapYearChecker` that includes a method called `is_leap_year` that takes a year as an integer as a parameter. The method should be able to return True if the given year is a leap year and False otherwise.

In [ ]:
class LeapYearChecker():
    def is_leap_year(self, year):
        if year % 4 == 0:
            if year % 100 == 0:
                if year % 400 == 0:
                    return True
                else:
                    return False
            else:
                return True
        else:
            return False
    
# Instance of the LeapYearChecker class
year_checker = LeapYearChecker()

# Calling the is_leap_year method to check if a year is a leap year or not
print(year_checker.is_leap_year(2000))